.forgot-password-modal {
  text-align: center;
}

.icon-container {
  font-size: 40px;
  color: #1890ff;
  margin-bottom: 20px;
}

.forgot-password-form {
  max-width: 300px;
  margin: 0 auto;
}

.reset-password-button {
  width: 100%;
  margin-top: 20px;
}

.email-confirmation-modal {
  text-align: center;
}

.email-confirmation-modal .icon-container {
  font-size: 40px;
  color: #1890ff;
  margin-bottom: 20px;
}

.resend-text {
  margin-top: 20px;
  font-size: 14px;
  color: #666;
}
