.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  width: 100%;
  height: 300px;
  margin: 20px auto;
}
.append-buttons {
  text-align: center;
  margin-top: 20px;
}

.append-buttons button {
  display: inline-block;
  cursor: pointer;
  border: 1px solid #007aff;
  color: #007aff;
  text-decoration: none;
  padding: 4px 10px;
  border-radius: 4px;
  margin: 0 10px;
  font-size: 13px;
}

/* hide 2 default button */
.swiper-button-next,
.swiper-button-prev {
  display: none !important;
}

.slide-button {
  color: gray; 
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 30px;
}

.slide-button:hover {
  background-color: #ff8a33;
  color: white;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}

.left-button {
  margin-right: 5px;
}
.right-button {
  margin-left: 5px;
}

.slide-buttons-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
