body {
  /* background-image: url("../../image/homepage-background.svg"); */
  margin: 0;
  padding: 0;
}

.homePage-container {
  width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

.homePage-title {
  background-image: url("/image/homepage-background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;

  /* Start with opacity 0 for animation */
  opacity: 0;
  animation: fadeIn 1.5s ease-in-out forwards;
}

/* Keyframes for the fade-in effect */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(1.05); /* Optional: slight zoom-in */
  }
  100% {
    opacity: 1;
    transform: scale(1); /* Restore original scale */
  }
}

.homePage-title__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.welcome-container {
  text-align: center;
  color: white;
  font-weight: bold;
  margin-top: 200px;
}

.welcome-container__title {
  font-family: "Pacifico", cursive;
  font-size: 40px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.welcome-container__content {
  font-size: 16px;
  color: white;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.9);
}

.search-form {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  width: 50vw;
  padding: 20px;
}

.search-form__function {
  font-size: 14px;
  padding: 5px;
  background-color: rgb(153, 153, 153);
  color: white;
  cursor: pointer;
}

.publicTour-button {
  border-top-left-radius: 5px;
}

.information-picker {
  background-color: white;
  border-radius: 5px;
  font-size: 14px;
  padding: 5px 15px;
  width: 100%;
}
.publicTour-form {
  display: none;
}

.customTour-form {
  display: none;
}

.information-picker__element {
  width: 100%;
  border-right: 1px solid #bdbcbc;
  padding-left: 20px;
}

.search-icon {
  height: 60px;
  width: 60px;
  background-color: var(--main-bright-orange);
  color: white;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  margin: 0 20px;
  cursor: pointer;
}

.custom-picker {
  border: none;
  font-size: 30px;
  cursor: pointer;
}

.custom-select .ant-select-selector {
  border: none !important;
  box-shadow: none !important;
}
